<h1>Minesweeper</h1>
<div id="gridSizeGroup">
    <button id="sm_grid">Small</button>
    <button id="md_grid">Medium</button>
    <button id="lg_grid">Large</button>
</div>

<div id="minesweeper_grid" data-gamegrid="minesweeper_grid">

</div>
<div id="gridGameFooter">
    <div id="ms_flags_timer">
        <span>Flags Remaining: <span id="flagsRemaining"></span></span>
        <span>Time: <span id="timer"></span></span>
    </div>
    <button id="restart_game" type="button">Restart</button>
</div>