<h1>Snake</h1>
<div id="gridSizeGroup">
    <button id="sm_grid" type="button" action:"setupGameBoard(0)">Small</button>
    <button id="md_grid" type="button" action:"setupGameBoard(1)">Medium</button>
    <button id="lg_grid" type="button" action:"setupGameBoard(2)">Large</button>
</div>

<div id="game_grid" data-gamegrid="snake_grid">

</div>

<div id="gridGameFooter">
    <div id="ms_flags_timer">
        <span>Score: <span id="timer"></span></span>
    </div>
    <button id="restart_game" type="button">Restart</button>
</div>