#minesweeper_grid{
    border: solid 2px var(--highlights);
    display: grid;
    width:max-content;
    height:max-content;
    gap: 2px;
    background-color: var(--bg-navy);
    margin:2rem auto;

    &>.ms_cell{
        display: grid;
        width: 60px;
        height: 60px;
        background-color: var(--text-muted);
    }
}

#minesweeper_size, #minesweeper_footer{
    display: flex;
    gap: 1rem;
    padding: 1rem 0 ;
}

/*Look to calculate the button size taking any spaceing into account, to stop fixed width and improve for different screen sizes*/
#minesweeper_size>button{
    width:200px;
}

/*Data attribute section*/

.ms_cell{
    place-items: center;
    font-size: 1.375rem;
    font-weight: 800;;

    &[data-mines]{
        color: rgb(199, 4, 4);
    }

    &[data-mines="1"]{
        color: rgb(7, 20, 207);
    }

    &[data-mines="2"]{
        color: rgb(30, 133, 4);
    }

}

#minesweeper_grid>.ms_cell[data-flag="true"]{
    position: relative;
    aspect-ratio: 1;

    &[data-flag="true"]{
        /* The Flag Triangle */
        &::before {
            content: "";
            position: absolute;
            top: 20%;
            left: 40%;
            width: 40%;
            height: 30%;
            background-color: #ff0000;
            clip-path: polygon(0 0, 100% 50%, 0 100%);
        }

    /* The Flag Pole */
        &::after {
            content: "";
            position: absolute;
            top: 20%;
            left: 30%;
            width: 10%;
            height: 60%;
            background-color: #333;
        }
    }
}

#minesweeper_grid>.ms_cell[data-cleared="true"]{
    --cell-bg: color-mix(in srgb, var(--text-muted), var(--text-main) 60%);
    background-color: var(--cell-bg);
    width: 100%;
    aspect-ratio: 1;

    &[data-mineclicked="true"]{
        --cell-bg:rgb(228, 57, 57);
    }

    &[data-mine="true"]{
        background: 
            radial-gradient(circle at 35% 35%, #555, #000 70%) center no-repeat,
            repeating-conic-gradient(from 22.5deg, #000 0deg 5deg, transparent 5deg 45deg) center no-repeat,
            var(--cell-bg);        
            background-size: 50% 50%, 70% 70%, 100% 100%;
    }
}
